@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: 'JetBrains Mono';
}

h1{
	color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #161616;
}

:root {
  --tamanho-header: 70px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  margin: auto;
	width: 95%;
}

.header {
  height: var(--tamanho-header);
	font-size: 18px;
	background-color: #2B2B2B;
	color: white;
}



.header button{
	font-size: 18px;
	color: white;
}

.btnCadastro{
	width: 166px;
	height: 50px;
	background-color: #289D41;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: solid 1px #007B1B;
	border-bottom: solid 2px #007B1B;
	border-right: solid 0.5px #007B1B;
	border-top: none;
}

.navTitulo{
	margin-top: -5px;
}

.navContent{
	display: flex;
	align-items: center;
	width: 65%;
	justify-content: flex-end;
	height: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nvim-card {
  display: flex;
	height: 440px;
	color: white;
	width: 100%;
	/* border: dashed 2px green; */
	padding: 50px;
	gap: 10px;
}


.rightSide{
	/* border: dashed 2px purple; */
	width: 70%;
}

.leftSide {
	/* border: dashed 2px pink; */
}

.leftSide img{
	transform: translateY(20%);
}

.topCard{
	/* border: dashed 2px yellow; */
}

.bottomCard{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;

	/* gap: 25px; */
	text-align: justify;
	border-bottom-left-radius: 20px;
	/* border: dashed 2px blue; */
	background-color: #2B2B2B;

  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.nvim-card-text{
	font-size: 1rem;
	width: 50%;
}

.nvim-card-ascii{
	width: 30%;
}

.nvim-card-ascii img{
	width: 200px;
}

.bottomCard{
	height: 86%;
}

.bottomCard pre{
	font-size: 0.8rem;
}


.wave{
	margin-top: 200px;
	background-image: url('../assets/imgs/backWave.png');
	background-size: cover;
}

.navRight {
  display: flex;
	align-items: center;
  gap: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center; /* centraliza certinho */
}

.navButtons {
  display: flex;
}

.navButtons button{
	cursor: pointer;
}

.btnCadastro,
.btnLogin {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLogin{
	width: 99px;
	height: 50px;
	background-color: #8A2AFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: solid 2px #6913D3;
	border-left: solid 0.5px #6913D3;
	border-right: solid 1px #6913D3;
	border-top: none;

}
.header {
  height: var(--tamanho-header);
  font-size: 18px;
  background-color: #2B2B2B;
  color: white;
}

.header .container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100%;
}

.titulo {
  color: #3DDBD9;
  font-weight: 500;
  font-size: 28px;
  margin: 0;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header a {
  text-decoration: none;
  color: white;
}

.header button {
  font-size: 18px;
  color: white;
}

.btnCadastro {
  width: 166px;
  height: 50px;
  background-color: #289D41;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: solid 1px #007B1B;
  border-bottom: solid 2px #007B1B;
  border-right: solid 0.5px #007B1B;
  border-top: none;
}

/* BOTÃO LOGIN */
.btnLogin {
  width: 99px;
  height: 50px;
  background-color: #8A2AFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: solid 2px #6913D3;
  border-left: solid 0.5px #6913D3;
  border-right: solid 1px #6913D3;
  border-top: none;
}
.header a {
  text-decoration: none;
	color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: #3DDBD9;
  width: fit-content;
  font-weight: 500;
	font-size: 28px;
	align-self: flex-start;
}

.header h1 {
  margin: 0;
}

.banner {
  height: var(--tamanho-banner);
  color: white;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: black;
  border-radius: 10px;
	border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: black;
  color: #e3b062;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e3b062 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
	background-color: black;
	color: #e5e5e5;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

.instalacaoVim{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}

.instalacaoVim img{
	margin-bottom: 50px;
}

.instal-card{
	background-color: #373737;
	border-radius: 20px;
	font-size: 18px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.ic1{
	width: 60%;
	height: 350px;
	padding:50px;
}

.comandosTerminal{
	width: 100%;
	border: solid 2px pink;
	margin-top: 10px;
}


.caixaTerminal{
	display: flex;
	padding-left: 20px;
	background-color: #161616;
	height: 50px;
	border-radius: 20px;
	color: #21FF30;
	align-items: center;
}

.sistemaCaixa{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.container-nvim-tutor{
	color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.nvim-tutor-titulo{
	height: 100px;
	display: flex;
	align-items: center;
}

.container-nvim-tutor h1{
	font-size: 20px;
}

.nvim-tutor img{
	width: 80%;
}

.nvim-tutor p{
	width: 15%;
	/* text-align: justify; */
}

.nvim-tutor{
	display: flex;
	justify-content: space-between;
}

.vim-config{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}

.vim-config-titulo{
	width: 100%;
	font-size: 50px;
	display: flex;
	height: 180px;
	/* color: white; */
	background-color: #25BE6A;
	align-items: center;
	justify-content: center;
}

.vim-config-subtitulo{
	width: 50%;
	display: flex;
	height: 150px;
	align-items: center;
	font-size: 20px;
}

.vim-config-margin{
	width: 90%;
	margin: auto;
}

.config-container{
	display: flex;
	justify-content: space-between;
}

.config-text-area{
	display: flex;
	flex-direction: column;
	width: 35%;
	gap: 20px;
}


.ic2{
	width: 60%;
	/* height: 100%; */
	padding:50px;
}

.del-tutor-container{
	display: flex;
	justify-content: space-between;
	height: 500px;
}

.step1{
	width: 45%;
	padding:50px;
}

.step2{
	width: 53%;
	padding:50px;
}

.div-kickstart{
	display: flex;
	justify-content: center;
}

.kickstart-esquerdo{
	width: 10%;
	border: none;
	padding-left: 10px;
}


.kickstart-direito{
	width: 80%;
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.kickstart-direito span{
	font-size: 18px;
}

.container-steps{
	display: flex;
	gap: 10px;
}

.container-steps img{
	width: 25px;
	height: 25px;
}

.inspiracoes{
	color: white;
}

.container-inspiracao{
	display: flex;
	height: 350px;
	gap: 50px;
}

.card-inspiracao{
	border: solid 2px white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	border-radius: 20px;
	font-size: 20px;
}

.container-btns{
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

a{
	text-decoration: none;
	color: black;
}

.btn-card-inspiracao{
	justify-content: space-between;
	height: 100px;
	width: 100%;
	margin: auto;
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 20px;
	border-bottom: solid 3px gray;
	font-size: 18px;
	font-weight: bold;
}

.container-titulo-insp{
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: center;
	align-items: center;
}

.container-login{
	width: 60%;
	height: 450px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 80px; /* trocar isso depois */
}

.container-login-titulo{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
	height: 30px;
	border-top-right-radius: 10px;
}

.container-login-content{
	width: 100%;
	display: flex;
	background-color: black;
	border: solid 2px white;
	height: 100%;
	color: white;
}

.container-login pre{
	font-size: 10px;
}

.login-content-left{
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	gap: 20px;
}

.login-content-right{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cor-user{
	color: #21FF30;
}

.cor-label{
	color: #FF20C7;
}

.cor-bash{
	color: #E9CE00;
}

.input-login{
	width: 80%;
	height: 35px;
	border: solid 2px white;
	display: flex;
}

.area-cifrao{
	height: 100%;
	border-right: solid 2px white;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-login input{
	width: 90%;
	height: 100%;
	border: none;
	background-color: black;
	color: white;
	text-align: start;
}

.input-login-area{
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 10px;
}

.button-login{
	width: 140px;
	height: 50px;
	color: black;
	background-color: white;
	font-size: 18px;
	font-weight: bold;
	border: none;
	align-self: flex-end;
	margin: 25px;
	cursor: pointer;
}
