.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  z-index: 999;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #161616;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}
button{
	cursor: pointer;
}

.btn-nav {
	display: flex;
  width: 70%;
  color: #3DDBD9;
  background-color: #04191C;
  border-radius: 5px;
	border: solid 3px #3DDBD9;
  text-align: center;
	height: 70px;
  padding: 2% 5%;
	justify-content: center;
	align-items: center;
}

.btn-nav-white {
	display: flex;
	justify-content: center;
	align-items: center;
  width: 70%;
  background-color: #161616;
  border: 3px solid #25BE6A;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
	height: 70px;
}

.btn-nav-white h3 {
  color: #25BE6A;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 50%;
  background-color: #32b9cd;
  color: white;
  border-radius: 5px;
	border-bottom: solid 2px #3DDBD9;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

